<plugin name='ncs-tracking' version='0.4' grailsVersion='1.3.5 &gt; *'>
  <author>Aaron J. Zirbes</author>
  <authorEmail>ajz@umn.edu</authorEmail>
  <title>NCS Tracking Domain Classes</title>
  <description>\
Provides domain classes necessary for tracking generated and incoming items
to study participants, and recruitment materials
</description>
  <documentation>http://grails.org/plugin/ncs-tracking</documentation>
  <resources>
    <resource>edu.umn.ncs.Batch</resource>
    <resource>edu.umn.ncs.BatchCreationConfig</resource>
    <resource>edu.umn.ncs.BatchCreationDocument</resource>
    <resource>edu.umn.ncs.BatchCreationItem</resource>
    <resource>edu.umn.ncs.BatchCreationItemRelation</resource>
    <resource>edu.umn.ncs.BatchCreationQueryArchive</resource>
    <resource>edu.umn.ncs.BatchCreationQueue</resource>
    <resource>edu.umn.ncs.BatchCreationQueueSource</resource>
    <resource>edu.umn.ncs.BatchDirection</resource>
    <resource>edu.umn.ncs.BatchInstrument</resource>
    <resource>edu.umn.ncs.BatchQueue</resource>
    <resource>edu.umn.ncs.DataSetType</resource>
    <resource>edu.umn.ncs.Instrument</resource>
    <resource>edu.umn.ncs.InstrumentApproval</resource>
    <resource>edu.umn.ncs.InstrumentApprovalType</resource>
    <resource>edu.umn.ncs.InstrumentFormat</resource>
    <resource>edu.umn.ncs.InstrumentHistory</resource>
    <resource>edu.umn.ncs.InstrumentRevision</resource>
    <resource>edu.umn.ncs.InstrumentStatus</resource>
    <resource>edu.umn.ncs.IsInitial</resource>
    <resource>edu.umn.ncs.ItemResult</resource>
    <resource>edu.umn.ncs.Result</resource>
    <resource>edu.umn.ncs.TrackedItem</resource>
    <resource>edu.umn.ncs.TrackedItemComment</resource>
    <resource>edu.umn.ncs.TrackingDocumentRecipient</resource>
  </resources>
  <dependencies>
    <plugin name='ncsPeople' version='0.1 &gt; *' />
  </dependencies>
  <behavior />
</plugin>